<h1><%= @bar.name %></h1>
<br>
<p style="font-weight: bold;">Bar's address:</p><%= @bar.address%>
<br>
<br>
<p style="font-weight: bold;">Bar's phone number:</p><%= @bar.phone_number%>
<br><br>
<p style="font-weight: bold;">Bar reviews: </p> 
<% @bar.bar_reviews.each do |review| %>
<ul>
    <li><p style="font-weight: bold;"> Review heading:</p><%=review.title%><br>
    <br>
    <li><p style="font-weight: bold;"> Safety:</p>
        <% case review.safety%>  
        <% when 1 %>
        <%= "Very unsafe conditions!" %>
        <% when 2 %>
        <%= "Unsafe conditions!" %>
        <% when 3 %>
        <%= "Average safety conditions!" %>
        <% when 4 %>
        <%= "Safe conditions!" %>
        <% when 5 %>
        <%= "Very safe conditions!" %>
    <% end %> <br>
    <br>
    <li><p style="font-weight: bold;"> Hand sanitizer:</p>
        <% if review.hand_sanitizer == true %> 
            <%= "Hand sanitizer is available at this bar." %>
        <%else %>
            <%= "There is no hand sanitizer is available at this bar." %>
    <% end %>
        <br>
    <br> 
    <li><p style="font-weight: bold;"> Masks:</p>
        <% if review.masks == true %> 
        <%= "The staff at this bar are wearing masks." %>
        <%else %>
            <%= "The staff at this bar are not wearing masks." %>
    <% end %>
         <br>
    <br>
    <li><p style="font-weight: bold;"> To-Go Available:</p>
        <% if review.to_go == true %> 
        <%= "The bar has a to-go cocktail option." %>
        <%else %>
            <%= "The bar doesn't have a to-go cocktail option." %>
    <% end %>
        <br>
    <br>
    <li><p style="font-weight: bold;"> Reduced Seating enforced:</p>
        <% if review.reduced_seating == true %> 
        <%= "The bar has reduced seating." %>
        <%else %>
            <%= "The bar doesn't have reduced seating." %>
    <% end %>
        <br>
    <br>
    <li><p style="font-weight: bold;"> Additional Comments:</p><%=review.content %> <br>
    </ul>
    <%= "----------------------------------------------------------------------" %>
        <%  end %>     

