<br><br>
<h1>All Listed Restaurants</h1>

<%= search_form_for @q do |f| %>
 Search for a listed restaurant:
  <%= f.search_field :name_cont %>
  <%= f.submit  %>
<% end %>

<br>
<br>

<form action="/restaurant_reviews/new" method="get">
    Create a review for a restaurant:
    <button name="review" type="submit" value="Create Review">Create Review</button>
    </form>
<br>
<br>
 
<div class="flexbox" >
<% @restaurants.each do |restaurant| %>
<div class="flexbox-container">
  <p><%= link_to restaurant.name,restaurant_path(restaurant.id),style: 'color:#0C0C0C;', class: 'css_class'%></p>
<img class="show-img" src="<%= restaurant.img_url %>" alt="<%= restaurant.name%>"></div>
<% end %>
</div>
  

