

<h1><%= @restaurant.name %></h1>

<p>Restaurant address:<%= @restaurant.address%></p>
<p>Restaurant phone number:<%= @restaurant.phone_number%></p>
<p>Restaurant yelp rating:<%= @restaurant.yelp_rating%></p>
<p>Restaurant pricing:<%= @restaurant.price_range%></p>
<img class="show-img" src="<%= @restaurant.img_url %>" alt="<%= @restaurant.name%>">

<p>Restaurant reviews: </p> 
<% @restaurant.restaurant_reviews.each do |review| %>

<p> Safety:<%=review.safety%> </p>
<p> Hand sanitizer: <%=review.hand_sanitizer %> </p>
<p> Masks: <%=review.masks %> </p>
<p> To-Go Available: <%=review.to_go %> </p>
<p> Reduced Seating enforced: <%=review.reduced_seating %> </p>
<p> Additional Comments: <%=review.content %> </p>

    <%  end %>     