<h1><%= @restaurant.name %></h1>

<p>Restaurant address:<%= @restaurant.address%></p>
<p>Restaurant phone number:<%= @restaurant.phone_number%></p>
<p>Restaurant yelp rating:<%= @restaurant.yelp_rating%></p>
<p>Restaurant pricing:<%= @restaurant.price_range%></p>
<p>img_url</p>
