
<img class="show-img" src="<%= @restaurant.img_url %>" alt="<%= @restaurant.name%>">
<h1><%= @restaurant.name %></h1>
<br><br>
<p style="font-weight: bold;">Restaurant address:</p><%= @restaurant.address%><br>
<br>
<p style="font-weight: bold;">Restaurant phone number:</p><%= @restaurant.phone_number%> <br>
<br>
<p style="font-weight: bold;">Restaurant yelp rating:</p><%= @restaurant.yelp_rating%> <br>
<br>
<p style="font-weight: bold;">Restaurant pricing:</p><%= @restaurant.price_range%> <br>

<br><br>
<p style="font-weight: bold;">Restaurant reviews: </p> 
<% @restaurant.restaurant_reviews.each do |review| %>
<p style="font-weight: bold;"> Review heading:</p><%=review.title%>  
<p style="font-weight: bold;"> Safety:</p><%=review.safety%>  
<p style="font-weight: bold;"> Hand sanitizer:</p><%=review.hand_sanitizer %>  
<p style="font-weight: bold;"> Masks:</p><%=review.masks %>  
<p style="font-weight: bold;"> To-Go Available:</p><%=review.to_go %> 
<p style="font-weight: bold;"> Reduced Seating enforced:</p><%=review.reduced_seating %> 
<p style="font-weight: bold;"> Additional Comments:</p><%=review.content %> 
    <%  end %>     