<h1>create a review</h1>

<%= form_for @restaurant_review do |f| %>
<%= f.label :"Choose Restaurant:" %><br>
<%= f.collection_select :restaurant_id,Restaurant.all,:id,:name %><br><br>
<%= f.label :"How safe did you feel (1-5)? (1 being very unsafe and 5 being very safe)"%><br>
<%= f.collection_select :safety, [1,2,3,4,5], :to_s,:to_s,include_blank: false %><br><br>
<%= f.label :"Was there hand sanitizer available in the restaurant?" %>


<br>
<br>
<%= f.submit %>
    
<% end %>



<!-- t.integer "restaurant_id"
    t.integer "user_id"
    t.integer "safety"
    t.boolean "hand_sanitizer", default: false
    t.boolean "masks", default: false
    t.boolean "to_go", default: false
    t.boolean "reduced_seating", default: false
    t.datetime "created_at", precision: 6, null: false
    t.datetime "updated_at",  -->